body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
        min-width: 800px;
        font-size:11px;
	/*margin:0px;
        padding:0;*/
}
html, body, h1{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}

.centrado{
    margin:0 auto;
}

.sizeEleven{
    font-size:11px;
}

h1 {
	color:#33170D;
}

#wrapper {
	width:100%;
	background-color:#FFFFFF;
        /*height:auto;*/
        /*margin:auto;*/
        overflow: auto;
        min-height: 100%;
       
}

#header {
	height:60px;
        background-color:#2D2D2D;
        color:white;
        
}

#header h1{
    padding: 10px 20px 5px;
    font-size: 22px;
    color:white;
    float:left;
   
}

#header-info{
    float:right;
    padding-top:20px; 
    padding-right:15px;
    float:right;
    font-size: 14px;
    text-align: center;
}

#header-info a{
    color: #FFFFFF;
   /*font-weight: bold;*/
    text-decoration: none;
    
}

#menu {
	/*background-image:url(img/menu_bg.png);*/
	background-color:#969696;
	height:25px;
        padding-top:5px;
	padding-left:40px;
	
}

#menu a, #footer a{
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
}
#menu a:hover, #footer a:hover{
	text-decoration:underline;
        color:#222222;
}
#content{
        width:98%;
        padding:13px;
        overflow:auto;
        float:left;
        min-height: 415px;
        /* height:100%;*/
        /*margin:0 auto;*/
}

/************** PAGINACION **************/

a{
text-decoration:none;
color:#B2b2b2;
}

a:hover{
color:blue;
text-decoration:underline;
}

#loading { 
width: 70px;
height: 70px;
margin: 0 auto;
position: absolute;
}

#paginationNoticias{
text-align:center;
margin:0 auto;
width: 300px;
overflow: auto;
}

#paginationUsuarios{
text-align:center;
margin:0 auto;
width: 300px;
overflow: auto;
}

#paginationPaginas{
text-align:center;
margin:0 auto;
width: 300px;
overflow: auto;
}

li{	
list-style: none; 
float: left; 
margin-right: 16px; 
padding:5px; 
border:solid 1px #dddddd;
color:black; 
}

li:hover{ 
color:blue; 
cursor: pointer; 
}

/************** PAGINACION **************/

#column{
width:100%;
overflow: hidden;
}

#left_content{
width:50%;
float:left;
position:relative;

}

#right_content{
width:50%;
float:left;

/*background-color: #82b04d;*/
}

#list_table{
    width:97%;
    padding:0 20px 0 20px;
}
#footer {
        width:100%;
	height:80px;
	padding-top:20px;
	color:#FFFFFF;
	text-align:center;
	background-color:#2D2D2D;
        float:left;      
}

.add-new {
    background:#f1f1f1;
    border: 0 none;
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 4px;
    padding: 3px 8px;
    position: relative;
    text-decoration: none;
    top: -3px;
    color:#000000;
}

.add-new:hover{
	/*color:#C87533;*/
        color:#969696;
}

.add-user {
    background:#f1f1f1;
    border: 0 none;
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 4px;
    padding: 3px 8px;
    position: relative;
    text-decoration: none;
    top: -3px;
    color:#000000;
}

.add-user:hover{
	/*color:#C87533;*/
        color:#969696;
}


#newstitle {
	width: 409px;
}

#page_title{
	width: 450px;
}
#html_title{
	width: 450px;
}

#permalink{
	width: 450px;
}
#html_description{
        width:450px;
}

#html_keywords{
        width:450px;
}

#mininewsimage{
    width:609px;	
}
  
#area1, #area2{
	width:900px;
}

#area2{
	min-height:250px;
}

#area1{
    min-height:100px;
}

.centered{
        width:900px;
        margin: 0 auto;
}

#ichange{
	width:24px;
	height:24px;
	background: url('img/image_link.png');
	background-repeat:no-repeat;
	background-position:center;

}

.iremove{
        width:24px;
	height:24px;
	background: url('img/link_edit.png');
	background-repeat:no-repeat;
	background-position:center;

}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }